<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="docs/styles.css">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name" style="font-size: 5em !important">{{ site.title | default: site.github.repository_name }}</h1>
      <ul class="header-list" style="justify-content: center;">
        <li style="margin-left: -50px; padding-right: 40px;"><img style="width: 200px;" src="docs/images/piggy-bank-1419251_960_720.png" /></li>
        <li>
          <div>
            <h2 class="project-tagline">Helping you save money<br />by budgeting!</h2>
            <a href="https://goo.gl/forms/GsjP36noZJ24UH122" class="btn">Sign up for Pre Registation</a>
          </div>
        </li>
      </ul>
      
    </section>

    <section class="main-content">
      <div>
        <h3>What is Piggy Bank</h3>
        <p style="padding-left: 20px;">This new tool will allow you to create sub-accounts with your bank. Which will 
          help to ensure you're not caught unaware by unexpected bills plus more.</p>

        <p>Check out our facebook page!</p>
        <a href="https://www.facebook.com/Piggy-Bank-1818251725105284/"><img style="width: 30px;" src="docs/images/fb-art.png" /></a>

      </div>

      <footer class="site-footer">
        
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>