<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="docs/mystyles.css">
    <link rel="stylesheet" type="text/css" href="docs/slick/slick.css"/>
  </head>
  <body >  <!--   -->
    <section class="page-header" style="background-color: #043368; background-image: linear-gradient(180deg, #043368, #627a92);">
      <h1 class="project-name" style="font-size: 5em !important; color: #f39ac8">{{ site.title | default: site.github.repository_name }}</h1>
      <ul class="header-list" style="justify-content: center;">
        <li style="margin-left: -50px; padding-right: 40px;"><img style="width: 200px;" src="docs/images/piggy-bank-1419251_960_720.png" /></li>
        <li>
          <div>
            <h2 class="project-tagline">Helping you save money<br />by budgeting!</h2>
            <a href="https://goo.gl/forms/GsjP36noZJ24UH122" class="btn" style="color: #ffffff; background-color: rgba(253, 113, 186, 0.56);">Sign up for Pre Registation</a>
          </div>
        </li>
      </ul>
      
    </section>

    <section class="main-content">
      <div>
        <h3>What is Piggy Bank</h3>
        <p style="padding-left: 20px;">This new tool will allow you to create sub-accounts with your bank. Which will 
          help to ensure you're not caught unaware by unexpected bills plus more.</p>
        <ul style="padding-left: 45px;">
          <li>Micro accounts for rent, food, cloths etc</li>
          <li>Automatic payment to these accounts when paid</li>
          <li>Pay directly out of these accounts</li>
        </ul>
        <div style="text-align: center">
          <img style="width: 60%" src="docs/images/bank-example.png" />
        </div>
        <h3>Wouldn't that be great?</h3>
        <p style="padding-left: 20px;">This way, you don't spend all of your rent money on beer or cloths!</p>
        <h3>What are people saying about us already?</h3>
          <div class="auto-text">
            <div>your content 1</div>
            <div>your content 2</div>
            <div>your content 3</div>
          </div>
        <h3>Why don't you register your interest?</h3>
        <div style="padding-left: 20px">
        <a href="https://goo.gl/forms/GsjP36noZJ24UH122" class="btn" style="padding-left: 20px; color: #ffffff; background-color: #063469;">Sign up for Pre Registation</a>
        </div>
        <hr />
        <ul style="display: flex; justify-content: center; align-items: center">
          <li style="list-style-type: none;"><span style="font-size: 25px;">Check out our facebook page before you go!</span></li>
          <li style="list-style-type: none; padding-top:5px;"><a style="padding-left: 10px;"href="https://www.facebook.com/Piggy-Bank-1818251725105284/"><img style="width: 30px;" src="docs/images/fb-art.png" /></a></li>
        </ul>
      </div>

      <footer class="site-footer">
        
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-git.min.js"></script>
    <script type="text/javascript" src="docs/slick/slick.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.auto-text').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 1000,
        });
      });
    </script>
  </body>
</html>