.header-list {
    display: flex;
}

.header-list li {
    align-items: center;
    list-style-type: none;
}

.second-list {
    padding-left: 30px;
}

.page-header {
    background-color: #043368; background-image: linear-gradient(120deg, #043368, #627a92);
}